.container{
    text-align: center;
    align-content: left;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

header{
    text-align: center;
}

fieldset{
    border:none;
}

#birthday{
    text-align: center;
}