.clearfix:before,
.clearfix:after{
    content: " ";
    display: block;
}
.clearfix:after{
    clear: both;
}
body {
    margin: 0 auto;
}
main{
    display: block;
    width: 50%;
    margin: auto;
    padding:0;
}
form {
    margin: auto;
    padding: 0;
    border: 1px solid black;
}
.caja{
    width: 95%;
    margin: 5px 5px;
    padding: 10px;
}
.departure-date{
    width: 49%;
    float: left;
    margin: 10px auto;
    text-align: center;
}
.departure-date input{
    margin: auto;
    display: block;
}
.comeback-date{
    border-left: 1px solid gray;
    width: 49%;
    float: left;
    margin: 10px auto;
    text-align: center;
}
.comeback-date input{
    margin: auto;
    display: block;
}
.information{
    width: 100%;
}
.left{
    width: 49%;
    float: left;
}
.right{
    width: 49%;
    float: left;

}
.passengers{
    width: 49%;
}
#btn{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;

}