.hidden{
	display: none;
}
body{
	background-color: black;
	color: white;
}
.container{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#loading{
	margin-top: 200px;
}
#error{
	color: red;
}