body{
    margin: 0;
    padding: 0;
    background-size: cover;
    background-image: url(../img/background-img.jfif)
}
.container{
    margin: 0 auto;
    display: block;
    width: 70%;
    text-align: center;
}
.clearfix:before,
.clearfix:after{
    content: " ";
    display: block;
}
.clearfix:after{
    clear: both;
}
h1{
    font-size: 8em;
    margin: 0 auto;
}
.subtitle{
    margin-bottom: 0;
    font-size: 25px;
}
.white{
    color:white;
}
.yellow{
    color: yellow;
}
.ycee{
    font-size: 6em;
    margin: 0 auto;
}
ul{
    list-style: none;
    margin: 0 auto;
    padding: 0;
}
ul li{
    display: inline-block;
    width: 49%;
}
ul li a{
    text-decoration: none;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
article{
    width: 100%;
}
.main-col{
    width: 70%;
    float: left;
    height: 400px;
}
.main-col p{
    font-size: 30px;
}
.box{
    position: relative;
    height: 100%;
}
.box-p{
    position: absolute;
    bottom: 0px;
    text-align: left;
}
.side-col{
    width: 30%;
    float: left;
    text-align: right;
    height: 400px;
}
.p-black{
    font-size: 35px;
    margin: 0 auto;
}
.p-white{
    margin: 0 auto;
    color: white;
}
.p-plus{
    color:white;
    font-size: 5em;
    margin: 0 auto;
}
footer{
    background-color: black;
    color:white;
    margin: 0 auto;
}